Build started...
Build succeeded.
The Entity Framework tools version '6.0.1' is older than that of the runtime '7.0.0-preview.4.22229.2'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
[21:32:12 INF] Entity Framework Core 7.0.0-preview.4.22229.2 initialized 'RepositoryContext' using provider 'Pomelo.EntityFrameworkCore.MySql:6.0.1' with options: ServerVersion 0.0-mysql 
CREATE TABLE IF NOT EXISTS `__EFMigrationsHistory` (
    `MigrationId` varchar(150) CHARACTER SET utf8mb4 NOT NULL,
    `ProductVersion` varchar(32) CHARACTER SET utf8mb4 NOT NULL,
    CONSTRAINT `PK___EFMigrationsHistory` PRIMARY KEY (`MigrationId`)
) CHARACTER SET=utf8mb4;

START TRANSACTION;

ALTER DATABASE CHARACTER SET utf8mb4;

CREATE TABLE `Lecturers` (
    `Id` char(36) COLLATE ascii_general_ci NOT NULL,
    `Name` varchar(50) CHARACTER SET utf8mb4 NOT NULL,
    `Email` varchar(50) CHARACTER SET utf8mb4 NOT NULL,
    `Picture` varchar(1000) CHARACTER SET utf8mb4 NOT NULL,
    CONSTRAINT `PK_Lecturers` PRIMARY KEY (`Id`)
) CHARACTER SET=utf8mb4;

CREATE TABLE `Students` (
    `Id` char(36) COLLATE ascii_general_ci NOT NULL,
    `Name` varchar(50) CHARACTER SET utf8mb4 NOT NULL,
    `Email` varchar(50) CHARACTER SET utf8mb4 NOT NULL,
    `Picture` varchar(1000) CHARACTER SET utf8mb4 NOT NULL,
    CONSTRAINT `PK_Students` PRIMARY KEY (`Id`)
) CHARACTER SET=utf8mb4;

CREATE TABLE `Subject` (
    `Id` char(36) COLLATE ascii_general_ci NOT NULL,
    `Name` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_Subject` PRIMARY KEY (`Id`)
) CHARACTER SET=utf8mb4;

CREATE TABLE `Question` (
    `Id` char(36) COLLATE ascii_general_ci NOT NULL,
    `Content` varchar(1000) CHARACTER SET utf8mb4 NOT NULL,
    `CreatedDate` datetime NOT NULL,
    `ModifiedDate` datetime NULL,
    `Removed` tinyint(1) NOT NULL,
    `RemovedBy` longtext CHARACTER SET utf8mb4 NULL,
    `SubjectId` char(36) COLLATE ascii_general_ci NOT NULL,
    `StudentId` char(36) COLLATE ascii_general_ci NOT NULL,
    CONSTRAINT `PK_Question` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Question_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `Students` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_Question_Subject_SubjectId` FOREIGN KEY (`SubjectId`) REFERENCES `Subject` (`Id`) ON DELETE CASCADE
) CHARACTER SET=utf8mb4;

CREATE TABLE `Answer` (
    `Id` char(36) COLLATE ascii_general_ci NOT NULL,
    `Content` varchar(1000) CHARACTER SET utf8mb4 NOT NULL,
    `CreatedDate` datetime NOT NULL,
    `ModifiedDate` datetime NULL,
    `Accepted` tinyint(1) NOT NULL,
    `Removed` tinyint(1) NOT NULL,
    `RemovedBy` longtext CHARACTER SET utf8mb4 NULL,
    `StudentId` char(36) COLLATE ascii_general_ci NOT NULL,
    `QuestionId` char(36) COLLATE ascii_general_ci NOT NULL,
    CONSTRAINT `PK_Answer` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Answer_Question_QuestionId` FOREIGN KEY (`QuestionId`) REFERENCES `Question` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_Answer_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `Students` (`Id`) ON DELETE CASCADE
) CHARACTER SET=utf8mb4;

CREATE INDEX `IX_Answer_QuestionId` ON `Answer` (`QuestionId`);

CREATE INDEX `IX_Answer_StudentId` ON `Answer` (`StudentId`);

CREATE INDEX `IX_Question_StudentId` ON `Question` (`StudentId`);

CREATE INDEX `IX_Question_SubjectId` ON `Question` (`SubjectId`);

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20220522165428_InitialCreate', '7.0.0-preview.4.22229.2');

COMMIT;

START TRANSACTION;

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20220523075142_UpdateQuestion', '7.0.0-preview.4.22229.2');

COMMIT;

START TRANSACTION;

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20220523084516_UpdateStudent', '7.0.0-preview.4.22229.2');

COMMIT;

START TRANSACTION;

DROP PROCEDURE IF EXISTS `POMELO_BEFORE_DROP_PRIMARY_KEY`;
DELIMITER //
CREATE PROCEDURE `POMELO_BEFORE_DROP_PRIMARY_KEY`(IN `SCHEMA_NAME_ARGUMENT` VARCHAR(255), IN `TABLE_NAME_ARGUMENT` VARCHAR(255))
BEGIN
	DECLARE HAS_AUTO_INCREMENT_ID TINYINT(1);
	DECLARE PRIMARY_KEY_COLUMN_NAME VARCHAR(255);
	DECLARE PRIMARY_KEY_TYPE VARCHAR(255);
	DECLARE SQL_EXP VARCHAR(1000);
	SELECT COUNT(*)
		INTO HAS_AUTO_INCREMENT_ID
		FROM `information_schema`.`COLUMNS`
		WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
			AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
			AND `Extra` = 'auto_increment'
			AND `COLUMN_KEY` = 'PRI'
			LIMIT 1;
	IF HAS_AUTO_INCREMENT_ID THEN
		SELECT `COLUMN_TYPE`
			INTO PRIMARY_KEY_TYPE
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_KEY` = 'PRI'
			LIMIT 1;
		SELECT `COLUMN_NAME`
			INTO PRIMARY_KEY_COLUMN_NAME
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_KEY` = 'PRI'
			LIMIT 1;
		SET SQL_EXP = CONCAT('ALTER TABLE `', (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA())), '`.`', TABLE_NAME_ARGUMENT, '` MODIFY COLUMN `', PRIMARY_KEY_COLUMN_NAME, '` ', PRIMARY_KEY_TYPE, ' NOT NULL;');
		SET @SQL_EXP = SQL_EXP;
		PREPARE SQL_EXP_EXECUTE FROM @SQL_EXP;
		EXECUTE SQL_EXP_EXECUTE;
		DEALLOCATE PREPARE SQL_EXP_EXECUTE;
	END IF;
END //
DELIMITER ;

DROP PROCEDURE IF EXISTS `POMELO_AFTER_ADD_PRIMARY_KEY`;
DELIMITER //
CREATE PROCEDURE `POMELO_AFTER_ADD_PRIMARY_KEY`(IN `SCHEMA_NAME_ARGUMENT` VARCHAR(255), IN `TABLE_NAME_ARGUMENT` VARCHAR(255), IN `COLUMN_NAME_ARGUMENT` VARCHAR(255))
BEGIN
	DECLARE HAS_AUTO_INCREMENT_ID INT(11);
	DECLARE PRIMARY_KEY_COLUMN_NAME VARCHAR(255);
	DECLARE PRIMARY_KEY_TYPE VARCHAR(255);
	DECLARE SQL_EXP VARCHAR(1000);
	SELECT COUNT(*)
		INTO HAS_AUTO_INCREMENT_ID
		FROM `information_schema`.`COLUMNS`
		WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
			AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
			AND `COLUMN_NAME` = COLUMN_NAME_ARGUMENT
			AND `COLUMN_TYPE` LIKE '%int%'
			AND `COLUMN_KEY` = 'PRI';
	IF HAS_AUTO_INCREMENT_ID THEN
		SELECT `COLUMN_TYPE`
			INTO PRIMARY_KEY_TYPE
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_NAME` = COLUMN_NAME_ARGUMENT
				AND `COLUMN_TYPE` LIKE '%int%'
				AND `COLUMN_KEY` = 'PRI';
		SELECT `COLUMN_NAME`
			INTO PRIMARY_KEY_COLUMN_NAME
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_NAME` = COLUMN_NAME_ARGUMENT
				AND `COLUMN_TYPE` LIKE '%int%'
				AND `COLUMN_KEY` = 'PRI';
		SET SQL_EXP = CONCAT('ALTER TABLE `', (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA())), '`.`', TABLE_NAME_ARGUMENT, '` MODIFY COLUMN `', PRIMARY_KEY_COLUMN_NAME, '` ', PRIMARY_KEY_TYPE, ' NOT NULL AUTO_INCREMENT;');
		SET @SQL_EXP = SQL_EXP;
		PREPARE SQL_EXP_EXECUTE FROM @SQL_EXP;
		EXECUTE SQL_EXP_EXECUTE;
		DEALLOCATE PREPARE SQL_EXP_EXECUTE;
	END IF;
END //
DELIMITER ;

ALTER TABLE `Answer` DROP FOREIGN KEY `FK_Answer_Question_QuestionId`;

ALTER TABLE `Question` DROP FOREIGN KEY `FK_Question_Students_StudentId`;

ALTER TABLE `Question` DROP FOREIGN KEY `FK_Question_Subject_SubjectId`;

CALL POMELO_BEFORE_DROP_PRIMARY_KEY(NULL, 'Subject');
ALTER TABLE `Subject` DROP PRIMARY KEY;

CALL POMELO_BEFORE_DROP_PRIMARY_KEY(NULL, 'Question');
ALTER TABLE `Question` DROP PRIMARY KEY;

ALTER TABLE `Subject` RENAME `Subjects`;

ALTER TABLE `Question` RENAME `Questions`;

ALTER TABLE `Questions` DROP INDEX `IX_Question_SubjectId`;

CREATE INDEX `IX_Questions_SubjectId` ON `Questions` (`SubjectId`);

ALTER TABLE `Questions` DROP INDEX `IX_Question_StudentId`;

CREATE INDEX `IX_Questions_StudentId` ON `Questions` (`StudentId`);

ALTER TABLE `Subjects` ADD CONSTRAINT `PK_Subjects` PRIMARY KEY (`Id`);
CALL POMELO_AFTER_ADD_PRIMARY_KEY(NULL, 'Subjects', 'Id');

ALTER TABLE `Questions` ADD CONSTRAINT `PK_Questions` PRIMARY KEY (`Id`);
CALL POMELO_AFTER_ADD_PRIMARY_KEY(NULL, 'Questions', 'Id');

ALTER TABLE `Answer` ADD CONSTRAINT `FK_Answer_Questions_QuestionId` FOREIGN KEY (`QuestionId`) REFERENCES `Questions` (`Id`) ON DELETE CASCADE;

ALTER TABLE `Questions` ADD CONSTRAINT `FK_Questions_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `Students` (`Id`) ON DELETE CASCADE;

ALTER TABLE `Questions` ADD CONSTRAINT `FK_Questions_Subjects_SubjectId` FOREIGN KEY (`SubjectId`) REFERENCES `Subjects` (`Id`) ON DELETE CASCADE;


DROP PROCEDURE `POMELO_BEFORE_DROP_PRIMARY_KEY`;

DROP PROCEDURE `POMELO_AFTER_ADD_PRIMARY_KEY`;

COMMIT;

START TRANSACTION;


COMMIT;

START TRANSACTION;


COMMIT;

START TRANSACTION;

ALTER TABLE `Questions` ADD `Title` varchar(250) CHARACTER SET utf8mb4 NOT NULL DEFAULT '';


COMMIT;

START TRANSACTION;


COMMIT;

START TRANSACTION;


COMMIT;

START TRANSACTION;


COMMIT;

START TRANSACTION;

ALTER TABLE `Questions` MODIFY COLUMN `Content` longtext CHARACTER SET utf8mb4 NOT NULL;


COMMIT;

START TRANSACTION;

DROP PROCEDURE IF EXISTS `POMELO_BEFORE_DROP_PRIMARY_KEY`;
DELIMITER //
CREATE PROCEDURE `POMELO_BEFORE_DROP_PRIMARY_KEY`(IN `SCHEMA_NAME_ARGUMENT` VARCHAR(255), IN `TABLE_NAME_ARGUMENT` VARCHAR(255))
BEGIN
	DECLARE HAS_AUTO_INCREMENT_ID TINYINT(1);
	DECLARE PRIMARY_KEY_COLUMN_NAME VARCHAR(255);
	DECLARE PRIMARY_KEY_TYPE VARCHAR(255);
	DECLARE SQL_EXP VARCHAR(1000);
	SELECT COUNT(*)
		INTO HAS_AUTO_INCREMENT_ID
		FROM `information_schema`.`COLUMNS`
		WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
			AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
			AND `Extra` = 'auto_increment'
			AND `COLUMN_KEY` = 'PRI'
			LIMIT 1;
	IF HAS_AUTO_INCREMENT_ID THEN
		SELECT `COLUMN_TYPE`
			INTO PRIMARY_KEY_TYPE
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_KEY` = 'PRI'
			LIMIT 1;
		SELECT `COLUMN_NAME`
			INTO PRIMARY_KEY_COLUMN_NAME
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_KEY` = 'PRI'
			LIMIT 1;
		SET SQL_EXP = CONCAT('ALTER TABLE `', (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA())), '`.`', TABLE_NAME_ARGUMENT, '` MODIFY COLUMN `', PRIMARY_KEY_COLUMN_NAME, '` ', PRIMARY_KEY_TYPE, ' NOT NULL;');
		SET @SQL_EXP = SQL_EXP;
		PREPARE SQL_EXP_EXECUTE FROM @SQL_EXP;
		EXECUTE SQL_EXP_EXECUTE;
		DEALLOCATE PREPARE SQL_EXP_EXECUTE;
	END IF;
END //
DELIMITER ;

DROP PROCEDURE IF EXISTS `POMELO_AFTER_ADD_PRIMARY_KEY`;
DELIMITER //
CREATE PROCEDURE `POMELO_AFTER_ADD_PRIMARY_KEY`(IN `SCHEMA_NAME_ARGUMENT` VARCHAR(255), IN `TABLE_NAME_ARGUMENT` VARCHAR(255), IN `COLUMN_NAME_ARGUMENT` VARCHAR(255))
BEGIN
	DECLARE HAS_AUTO_INCREMENT_ID INT(11);
	DECLARE PRIMARY_KEY_COLUMN_NAME VARCHAR(255);
	DECLARE PRIMARY_KEY_TYPE VARCHAR(255);
	DECLARE SQL_EXP VARCHAR(1000);
	SELECT COUNT(*)
		INTO HAS_AUTO_INCREMENT_ID
		FROM `information_schema`.`COLUMNS`
		WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
			AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
			AND `COLUMN_NAME` = COLUMN_NAME_ARGUMENT
			AND `COLUMN_TYPE` LIKE '%int%'
			AND `COLUMN_KEY` = 'PRI';
	IF HAS_AUTO_INCREMENT_ID THEN
		SELECT `COLUMN_TYPE`
			INTO PRIMARY_KEY_TYPE
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_NAME` = COLUMN_NAME_ARGUMENT
				AND `COLUMN_TYPE` LIKE '%int%'
				AND `COLUMN_KEY` = 'PRI';
		SELECT `COLUMN_NAME`
			INTO PRIMARY_KEY_COLUMN_NAME
			FROM `information_schema`.`COLUMNS`
			WHERE `TABLE_SCHEMA` = (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA()))
				AND `TABLE_NAME` = TABLE_NAME_ARGUMENT
				AND `COLUMN_NAME` = COLUMN_NAME_ARGUMENT
				AND `COLUMN_TYPE` LIKE '%int%'
				AND `COLUMN_KEY` = 'PRI';
		SET SQL_EXP = CONCAT('ALTER TABLE `', (SELECT IFNULL(SCHEMA_NAME_ARGUMENT, SCHEMA())), '`.`', TABLE_NAME_ARGUMENT, '` MODIFY COLUMN `', PRIMARY_KEY_COLUMN_NAME, '` ', PRIMARY_KEY_TYPE, ' NOT NULL AUTO_INCREMENT;');
		SET @SQL_EXP = SQL_EXP;
		PREPARE SQL_EXP_EXECUTE FROM @SQL_EXP;
		EXECUTE SQL_EXP_EXECUTE;
		DEALLOCATE PREPARE SQL_EXP_EXECUTE;
	END IF;
END //
DELIMITER ;

ALTER TABLE `Answer` DROP FOREIGN KEY `FK_Answer_Questions_QuestionId`;

ALTER TABLE `Answer` DROP FOREIGN KEY `FK_Answer_Students_StudentId`;

CALL POMELO_BEFORE_DROP_PRIMARY_KEY(NULL, 'Answer');
ALTER TABLE `Answer` DROP PRIMARY KEY;

ALTER TABLE `Answer` RENAME `Answers`;

ALTER TABLE `Answers` DROP INDEX `IX_Answer_StudentId`;

CREATE INDEX `IX_Answers_StudentId` ON `Answers` (`StudentId`);

ALTER TABLE `Answers` DROP INDEX `IX_Answer_QuestionId`;

CREATE INDEX `IX_Answers_QuestionId` ON `Answers` (`QuestionId`);

ALTER TABLE `Answers` ADD CONSTRAINT `PK_Answers` PRIMARY KEY (`Id`);
CALL POMELO_AFTER_ADD_PRIMARY_KEY(NULL, 'Answers', 'Id');

ALTER TABLE `Answers` ADD CONSTRAINT `FK_Answers_Questions_QuestionId` FOREIGN KEY (`QuestionId`) REFERENCES `Questions` (`Id`) ON DELETE CASCADE;

ALTER TABLE `Answers` ADD CONSTRAINT `FK_Answers_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `Students` (`Id`) ON DELETE CASCADE;


DROP PROCEDURE `POMELO_BEFORE_DROP_PRIMARY_KEY`;

DROP PROCEDURE `POMELO_AFTER_ADD_PRIMARY_KEY`;

COMMIT;

START TRANSACTION;

CREATE TABLE `StudentUpvotes` (
    `StudentId` char(36) COLLATE ascii_general_ci NOT NULL,
    `QuestionId` char(36) COLLATE ascii_general_ci NOT NULL,
    CONSTRAINT `PK_StudentUpvotes` PRIMARY KEY (`StudentId`, `QuestionId`),
    CONSTRAINT `FK_StudentUpvotes_Questions_QuestionId` FOREIGN KEY (`QuestionId`) REFERENCES `Questions` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_StudentUpvotes_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `Students` (`Id`) ON DELETE CASCADE
) CHARACTER SET=utf8mb4;

CREATE INDEX `IX_StudentUpvotes_QuestionId` ON `StudentUpvotes` (`QuestionId`);


COMMIT;

START TRANSACTION;

CREATE TABLE `StudentAnswerUpvotes` (
    `StudentId` char(36) COLLATE ascii_general_ci NOT NULL,
    `AnswerId` char(36) COLLATE ascii_general_ci NOT NULL,
    CONSTRAINT `PK_StudentAnswerUpvotes` PRIMARY KEY (`StudentId`, `AnswerId`),
    CONSTRAINT `FK_StudentAnswerUpvotes_Answers_AnswerId` FOREIGN KEY (`AnswerId`) REFERENCES `Answers` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_StudentAnswerUpvotes_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `Students` (`Id`) ON DELETE CASCADE
) CHARACTER SET=utf8mb4;

CREATE INDEX `IX_StudentAnswerUpvotes_AnswerId` ON `StudentAnswerUpvotes` (`AnswerId`);


COMMIT;

START TRANSACTION;

ALTER TABLE `Students` ADD `Point` int NOT NULL DEFAULT 0;

ALTER TABLE `Questions` ADD `Solved` tinyint(1) NOT NULL DEFAULT FALSE;


COMMIT;


